* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #3f3350;
}

body {
  max-width: 1980px;
  margin: 0 auto;
  overflow-x: hidden;
}

.landing {
  background-color: #fffef9;
}

.landing nav {
  position: fixed;
  width: 100%;
  height: 100px;
  -webkit-transition: top .3s;
  transition: top .3s;
  top: 0;
  left: 0;
  z-index: 30;
}

.landing nav.hidden {
  top: -100px;
}

.landing nav .nav_background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: white;
  border-bottom: solid 0px #ffd1c3;
  -webkit-transition: height .5s, border-bottom .5s;
  transition: height .5s, border-bottom .5s;
}

.landing nav .nav_background.on {
  height: 100px;
  border-bottom: solid 1px #ffd1c3;
}

.landing nav .nav_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 94%;
  height: 100px;
  z-index: 1;
  -webkit-transition: padding-bottom .5s;
  transition: padding-bottom .5s;
}

.landing nav .nav_inside.centered {
  padding-bottom: 29px;
}

.landing nav .nav_inside .menubar {
  width: 460px;
}

.landing nav .nav_inside .menubar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  list-style: none;
  height: 42px;
  padding: 0 15px;
}

.landing nav .nav_inside .menubar ul li {
  display: block;
  height: 100%;
}

.landing nav .nav_inside .menubar ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #3f3350;
  font-size: 18px;
  line-height: 42px;
  font-weight: 400;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.landing nav .nav_inside .menubar ul li a:hover {
  color: #ff7043;
}

.landing nav .nav_inside .menubar ul li a:hover .m1 {
  height: auto;
  opacity: 1;
  top: 42px;
  padding: 35px 25px;
  border: 1px solid #ffd1c3;
  -webkit-transition: opacity 0.4s linear, top 0.2s ease-out;
  transition: opacity 0.4s linear, top 0.2s ease-out;
}

.landing nav .nav_inside .menubar ul li a .m1 {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  background-color: white;
  width: 450px;
  top: 20px;
  left: 0;
  border: none;
  -webkit-box-shadow: 0px 0px 25px -14px #ff7043;
          box-shadow: 0px 0px 25px -14px #ff7043;
  z-index: 10;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners, .landing nav .nav_inside .menubar ul li a .m1 .landlords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding: 10px;
}

.landing nav .nav_inside .menubar ul li a .m1 .mid {
  margin: 40px 0;
}

.landing nav .nav_inside .menubar ul li a .m1 .landlords:hover .landlords__text h4, .landing nav .nav_inside .menubar ul li a .m1 .homeowners:hover .homeowners__text h4 {
  color: #ff7043;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img img, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img img {
  width: 77px;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .door, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .door {
  position: absolute;
  width: 12%;
  bottom: 5px;
  -webkit-animation: door-rotation;
          animation: door-rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .keys, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .keys {
  -webkit-animation-name: keys-rotation;
          animation-name: keys-rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .sign-item, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .sign-item {
  position: absolute;
  width: 30%;
  top: 12px;
  left: 50px;
  -webkit-animation: sign-rotation;
          animation: sign-rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .hand, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .hand {
  position: relative;
  left: -8px;
  -webkit-animation-name: keys-rotation;
          animation-name: keys-rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .snowflake, .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .snowflake {
  position: absolute;
  top: -50%;
  color: #3f3350;
  -webkit-animation: snowflake-drop;
          animation: snowflake-drop;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .snowflake:nth-child(2), .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .snowflake:nth-child(2) {
  left: 15%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .snowflake:nth-child(3), .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .snowflake:nth-child(3) {
  left: 35%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .snowflake:nth-child(4), .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .snowflake:nth-child(4) {
  left: 55%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__img .snowflake:nth-child(5), .landing nav .nav_inside .menubar ul li a .m1 .landlords__img .snowflake:nth-child(5) {
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__text, .landing nav .nav_inside .menubar ul li a .m1 .landlords__text {
  width: 70%;
  margin-left: 15px;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__text h4, .landing nav .nav_inside .menubar ul li a .m1 .landlords__text h4 {
  font: 500 21px 'Zilla Slab', serif;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 15px;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__text p, .landing nav .nav_inside .menubar ul li a .m1 .landlords__text p {
  font-size: 16px;
  line-height: 160%;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__text button, .landing nav .nav_inside .menubar ul li a .m1 .landlords__text button {
  padding: 20px 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 55px -14px #ff7043;
          box-shadow: 0px 0px 55px -14px #ff7043;
  background-color: #ff7043;
}

.landing nav .nav_inside .menubar ul li a .m1 .homeowners__text button:hover, .landing nav .nav_inside .menubar ul li a .m1 .landlords__text button:hover {
  background-color: #3f3350;
}

.landing nav .nav_inside .logo {
  position: relative;
  left: -42px;
}

.landing nav .nav_inside .logo img {
  width: 212px;
  height: 42px;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing nav .nav_inside .logo img.smaller {
  width: 148px;
  height: 30px;
}

.landing nav .nav_inside .buttons {
  overflow-x: hidden;
}

.landing nav .nav_inside .buttons__inner {
  position: relative;
  left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  height: 44px;
  width: 370px;
  padding: 0 15px;
  -webkit-transition: left .7s .5s;
  transition: left .7s .5s;
}

.landing nav .nav_inside .buttons__inner.moved {
  left: 0;
}

.landing nav .nav_inside .buttons button {
  height: 100%;
  padding: 0 14px;
  background-color: transparent;
  border: 1px solid #ff7043;
  color: #3f3350;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing nav .nav_inside .buttons button:hover {
  background-color: #ff7043;
  color: white;
}

.landing nav .nav_inside .buttons button:nth-child(3) {
  background-color: #ff7043;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing nav .nav_inside .buttons button:nth-child(3):hover {
  background-color: #3f3350;
  border-color: #3f3350;
}

.landing .motto {
  text-align: center;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 150px 40px 0px 40px;
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 3.8s;
          transition-delay: 3.8s;
  z-index: 4;
}

.landing .motto.start {
  opacity: 0;
}

.landing .motto h1 {
  font: 400 65px/1.22 'Zilla Slab', serif;
  margin-bottom: 15px;
}

.landing .motto p {
  font: 400 22px/1.8 'Inter', sans-serif;
}

.landing .motto button {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  background-color: #ff7043;
  height: 80px;
  width: 180px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 55px -14px #ff7043;
          box-shadow: 0px 0px 55px -14px #ff7043;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 4;
}

.landing .motto button:hover {
  background-color: #3f3350;
}

.landing .motto button img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 19px;
  margin-left: 10px;
}

.landing .motto button span {
  color: white;
  font-size: 20px;
}

.landing .motto .birds {
  position: absolute;
  -webkit-transform: scaleX(-1) translateX(100%);
          transform: scaleX(-1) translateX(100%);
  width: 210px;
  top: 490px;
  -webkit-animation-name: birds-move;
          animation-name: birds-move;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  left: 0;
  z-index: 3;
}

.landing .motto .birds.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation {
  position: relative;
  max-width: 1400px;
  width: 100%;
  height: 50vw;
  max-height: 520px;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: visible;
  bottom: 40px;
}

.landing .animation .ground {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: #fffef9;
}

.landing .animation .ground .ground-line {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: #3f3350;
  z-index: 2;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.landing .animation .ground .ground-line.start {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
}

.landing .animation .ground .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
  font-size: 18px;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}

.landing .animation .ground .check.start {
  opacity: 0;
}

.landing .animation .ground .check img {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  width: 50px;
}

.landing .animation .bush1 img {
  position: absolute;
  bottom: 55px;
  left: 10%;
  width: 35%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
          animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
  -webkit-animation-name: bush-move;
          animation-name: bush-move;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 1;
}

.landing .animation .bush1 img.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation .bush2 img {
  position: absolute;
  bottom: 40px;
  right: 6%;
  width: 35%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation-name: bush-move2;
          animation-name: bush-move2;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
          animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
  z-index: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing .animation .bush2 img.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation .tree1 img {
  position: absolute;
  width: 12%;
  bottom: 70px;
  left: 15%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: tree-move;
          animation-name: tree-move;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
          animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
  -webkit-transform: rotate(-125deg);
          transform: rotate(-125deg);
}

.landing .animation .tree1 img.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation .smallbush1 img {
  position: absolute;
  width: 6%;
  bottom: 70px;
  left: 18%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
  transform: rotate(0deg);
  z-index: 3;
}

.landing .animation .smallbush1 img.start {
  -webkit-transform: rotate(-162deg);
          transform: rotate(-162deg);
}

.landing .animation .tree-mid img {
  position: absolute;
  width: 10%;
  left: 61%;
  bottom: 160px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 3.6s;
          transition-delay: 3.6s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  z-index: 1;
}

.landing .animation .tree-mid img.start {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
}

.landing .animation .tree2 img {
  position: absolute;
  width: 9%;
  bottom: 70px;
  right: 11%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: tree-move;
          animation-name: tree-move;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
          animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  z-index: 2;
}

.landing .animation .tree2 img.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation .bcg img {
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 3.3s;
          transition-delay: 3.3s;
}

.landing .animation .bcg img.start {
  opacity: 0;
}

.landing .animation .clouds img {
  position: relative;
  left: 0%;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 3.3s;
          transition-delay: 3.3s;
}

.landing .animation .clouds img.start {
  opacity: 0;
}

.landing .animation .armadillo {
  position: absolute;
  bottom: 80px;
  left: 48%;
  width: 490px;
  height: 290px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
  z-index: 1;
}

.landing .animation .armadillo.start {
  -webkit-transform: translate(-50%, 290px);
          transform: translate(-50%, 290px);
}

.landing .animation .armadillo .abody {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 11;
}

.landing .animation .armadillo .ahead {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 12;
}

.landing .animation .armadillo .atail {
  position: absolute;
  left: -7%;
  bottom: 50px;
  width: 50%;
  height: 70%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 9;
  -webkit-animation-name: tail-move;
          animation-name: tail-move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.landing .animation .armadillo .leftear {
  position: absolute;
  left: 81%;
  bottom: 120px;
  width: 5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 11;
  -webkit-animation-name: ear-move;
          animation-name: ear-move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.landing .animation .armadillo .rightear {
  position: absolute;
  left: 86%;
  bottom: 116px;
  width: 5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 12;
  -webkit-animation-name: ear-move;
          animation-name: ear-move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.landing .animation .armadillo .eye {
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  top: 68%;
  left: 78.5%;
  z-index: 13;
  background-color: transparent;
  -webkit-animation-name: eye-move;
          animation-name: eye-move;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.landing .animation .armadillo .eye .eye_inner {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #3f3350;
  border-radius: 50%;
}

.landing .animation .armadillo .house {
  position: absolute;
  width: 50%;
  bottom: -1px;
  left: 56%;
  z-index: 11;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: house-move;
          animation-name: house-move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
          animation-timing-function: cubic-bezier(0.23, 0.88, 0.76, 1.03);
  -webkit-transform: translate(-50%, 280px);
          transform: translate(-50%, 280px);
}

.landing .animation .armadillo .house.start {
  -webkit-animation: none;
          animation: none;
}

.landing .animation .sun {
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: #fff8e1;
  border-radius: 50%;
  left: 50%;
  top: 0;
  z-index: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.landing .animation .sun.start {
  -webkit-transform: translateY(450px);
          transform: translateY(450px);
}

.landing .animation .sun img {
  position: relative;
  z-index: 3;
}

.landing .animation .sun .first_layer, .landing .animation .sun .second_layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 101px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ffde63;
  -webkit-animation-name: sun-move;
          animation-name: sun-move;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 2;
}

.landing .animation .sun .second_layer {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.landing .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing .what-is {
  position: fixed;
  bottom: 20%;
  left: 3%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 3.8s;
          transition-delay: 3.8s;
}

.landing .what-is.start {
  opacity: 0;
}

.landing .what-is:hover img:last-child {
  opacity: 0;
}

.landing .what-is img {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  -webkit-transition: .3s;
  transition: .3s;
}

@-webkit-keyframes bush-move {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bush-move {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bush-move2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bush-move2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes tail-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tail-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes ear-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ear-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes eye-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes eye-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes house-move {
  0% {
    -webkit-transform: translate(-50%, 280px);
            transform: translate(-50%, 280px);
  }
  60% {
    -webkit-transform: translate(-50%, -12px);
            transform: translate(-50%, -12px);
  }
  80% {
    -webkit-transform: translate(-50%, 6px);
            transform: translate(-50%, 6px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes house-move {
  0% {
    -webkit-transform: translate(-50%, 280px);
            transform: translate(-50%, 280px);
  }
  60% {
    -webkit-transform: translate(-50%, -12px);
            transform: translate(-50%, -12px);
  }
  80% {
    -webkit-transform: translate(-50%, 6px);
            transform: translate(-50%, 6px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@-webkit-keyframes tree-move {
  0% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tree-move {
  0% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes sun-move {
  0% {
    height: 101px;
    width: 101px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    height: 265px;
    width: 265px;
    opacity: 0;
  }
}

@keyframes sun-move {
  0% {
    height: 101px;
    width: 101px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    height: 265px;
    width: 265px;
    opacity: 0;
  }
}

@-webkit-keyframes birds-move {
  0% {
    left: 0;
  }
  100% {
    left: calc( 100% + 210px);
  }
}

@keyframes birds-move {
  0% {
    left: 0;
  }
  100% {
    left: calc( 100% + 210px);
  }
}

@-webkit-keyframes keys-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes keys-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes door-rotation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  30% {
    -webkit-transform: rotateY(75deg);
            transform: rotateY(75deg);
  }
  60% {
    -webkit-transform: rotateY(75deg);
            transform: rotateY(75deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes door-rotation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  30% {
    -webkit-transform: rotateY(75deg);
            transform: rotateY(75deg);
  }
  60% {
    -webkit-transform: rotateY(75deg);
            transform: rotateY(75deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes sign-rotation {
  0% {
    -webkit-transform: rotateX(-40deg) rotateY(-5deg);
            transform: rotateX(-40deg) rotateY(-5deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(40deg) rotateY(5deg);
            transform: rotateX(40deg) rotateY(5deg);
  }
}

@keyframes sign-rotation {
  0% {
    -webkit-transform: rotateX(-40deg) rotateY(-5deg);
            transform: rotateX(-40deg) rotateY(-5deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(40deg) rotateY(5deg);
            transform: rotateX(40deg) rotateY(5deg);
  }
}

@-webkit-keyframes snowflake-drop {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflake-drop {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffef9;
  border-bottom: 1px solid #ffd1c3;
}

.brands__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  padding-bottom: 85px;
}

.brands__inner img {
  width: 13%;
}

.offerings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  border-bottom: 1px solid #ffd1c3;
}

.offerings__inner {
  padding: 100px 50px;
  width: 100%;
  max-width: 1400px;
}

.offerings__motto {
  text-align: center;
}

.offerings__motto .title {
  position: relative;
}

.offerings__motto .title h1 {
  position: relative;
  font: 500 21px/1.35 'Zilla Slab', serif;
  z-index: 2;
}

.offerings__motto .title .bcg {
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 1;
  width: 250px;
  height: 130%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.offerings__motto h2 {
  margin: 44px auto 0 auto;
  font: 400 60px/1.22 'Zilla Slab', serif;
  max-width: 800px;
}

.offerings__motto p {
  font-size: 22px;
  line-height: 1.8;
  margin: 20px auto 0 auto;
  max-width: 800px;
}

.offerings__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
  height: 950px;
}

.offerings__items .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
  -webkit-transition: background-color .6s linear, height .6s ease-in-out;
  transition: background-color .6s linear, height .6s ease-in-out;
  padding: 25px 0;
  height: 392px;
  z-index: 2;
}

.offerings__items .item:hover {
  background-color: #ffd740;
  height: 540px;
}

.offerings__items .item.electric:hover {
  height: 500px;
}

.offerings__items .item.plumbing:hover {
  height: 540px;
}

.offerings__items .item.kitchen:hover {
  height: 600px;
}

.offerings__items .item.laundry:hover {
  height: 460px;
}

.offerings__items .item:hover .text1 {
  opacity: 0;
}

.offerings__items .item:hover .text2 {
  height: auto;
  opacity: 1;
  padding: 0 0 20px 0;
}

.offerings__items .item__animation {
  position: relative;
  margin: 0 auto;
  width: 165px;
}

.offerings__items .item__animation .meter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-80deg);
          transform: translate(-50%, -50%) rotate(-80deg);
  width: 18%;
  -webkit-animation: meter-rotation;
          animation: meter-rotation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.offerings__items .item__animation .electric {
  position: absolute;
  width: 5%;
  -webkit-animation: dial-movement;
          animation: dial-movement;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  nimation-timing-function: ease-in-out;
}

.offerings__items .item__animation .electric:nth-child(2) {
  top: 38%;
  left: 40%;
}

.offerings__items .item__animation .electric:nth-child(3) {
  top: 65%;
  left: 40%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.offerings__items .item__animation .electric:nth-child(4) {
  top: 12%;
  left: 40%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.offerings__items .item__animation .electric:nth-child(5) {
  -webkit-animation: spark;
          animation: spark;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: 3%;
  left: 83%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.offerings__items .item__animation .electric:nth-child(6) {
  -webkit-animation: spark;
          animation: spark;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  top: 3%;
  left: 95%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.offerings__items .item__animation .hidden-area {
  position: absolute;
  width: 40px;
  height: 21px;
  top: 17%;
  left: 49%;
  overflow: hidden;
}

.offerings__items .item__animation .hidden-area .plumbing {
  position: absolute;
  -webkit-animation: water-drop;
          animation: water-drop;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 7%;
  top: 0%;
  left: 46%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.offerings__items .item__animation .drawer {
  position: absolute;
  width: 45%;
  bottom: 5%;
  left: 27%;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-animation: drawer-move;
          animation: drawer-move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.offerings__items .item__animation .spinner {
  position: absolute;
  top: 34%;
  left: 32%;
  width: 38%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spinner-move;
          animation: spinner-move;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.offerings__items .item__name {
  font: 400 28px/1.38 'Zilla Slab', serif;
  margin: 25px 0 12px 0;
  text-align: center;
}

.offerings__items .item__text {
  position: relative;
  text-align: center;
}

.offerings__items .item__text .text1 {
  opacity: 1;
  -webkit-transition: opacity linear .4s;
  transition: opacity linear .4s;
}

.offerings__items .item__text .text1 p:first-of-type {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  max-width: 220px;
  margin: 0 auto;
  line-height: 1.75;
}

.offerings__items .item__text .text1 p:last-of-type {
  margin-top: 20px;
  font-size: 18px;
  color: #ff7043;
  font-weight: 500;
}

.offerings__items .item__text .text2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity .3s .4s linear;
  transition: opacity .3s .4s linear;
}

.offerings__items .item__text .text2 ul {
  list-style: none;
  width: 100%;
}

.offerings__items .item__text .text2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 100%;
  margin-bottom: 5px;
}

.offerings__items .item__text .text2 ul li .tick {
  width: 22%;
}

.offerings__items .item__text .text2 ul li p {
  width: 78%;
  text-align: left;
  font-size: 18px;
  line-height: 1.75;
}

.offerings__items .item__text .text2 button {
  padding: 21px 18px;
  background-color: transparent;
  border: 1px solid #ff7043;
  color: white;
  background-color: #ff7043;
  margin-top: 24px;
  font-size: 21px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.offerings__items .item__text .text2 button:hover {
  background-color: #3f3350;
  border-color: #3f3350;
}

.offerings__items .electric {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.offerings__items .plumbing {
  left: initial;
  right: 0;
  z-index: 2;
}

.offerings__items .kitchen {
  top: 50%;
  left: 16%;
  z-index: 1;
}

.offerings__items .laundry {
  top: 50%;
  left: initial;
  right: 16%;
  z-index: 1;
}

@-webkit-keyframes meter-rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-80deg);
            transform: translate(-50%, -50%) rotate(-80deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
            transform: translate(-50%, -50%) rotate(60deg);
  }
}

@keyframes meter-rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-80deg);
            transform: translate(-50%, -50%) rotate(-80deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
            transform: translate(-50%, -50%) rotate(60deg);
  }
}

@-webkit-keyframes dial-movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes dial-movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes spark {
  0% {
    opacity: 0;
    -webkit-transform: rotateX("0deg");
            transform: rotateX("0deg");
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spark {
  0% {
    opacity: 0;
    -webkit-transform: rotateX("0deg");
            transform: rotateX("0deg");
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes water-drop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
}

@keyframes water-drop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
}

@-webkit-keyframes drawer-move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes drawer-move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@-webkit-keyframes spinner-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.how {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  background-color: #fffef9;
}

.how__cloud-up {
  width: 100%;
}

.how__lower-cloud {
  position: relative;
  margin-top: 25px;
  width: 100%;
}

.how__cloud-down {
  width: 100%;
  -webkit-animation: clouds-moving;
          animation: clouds-moving;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.how__cloud-down-absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  -webkit-animation: clouds-moving;
          animation: clouds-moving;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.how__hide-left {
  position: absolute;
  width: 60%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fffef9), to(rgba(255, 254, 249, 0)));
  background: linear-gradient(90deg, #fffef9 50%, rgba(255, 254, 249, 0) 100%);
  top: 0;
  left: 0;
  z-index: 2;
}

.how__hide-right {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 254, 249, 0)), color-stop(68%, #fffef9));
  background: linear-gradient(90deg, rgba(255, 254, 249, 0) 0%, #fffef9 68%);
  z-index: 2;
}

.how__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 100%;
  max-width: 1400px;
}

.how__motto {
  width: 50%;
}

.how__motto .title {
  position: relative;
}

.how__motto .title h1 {
  position: relative;
  font: 500 21px/1.35 'Zilla Slab', serif;
  z-index: 2;
}

.how__motto .title .bcg {
  position: absolute;
  top: -5px;
  left: 12%;
  z-index: 1;
  width: 220px;
  height: 130%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.how__motto h2 {
  font: 400 60px/1.22 'Zilla Slab', serif;
  margin-top: 44px;
  max-width: 340px;
}

.how__motto p {
  font-family: 'Inter', sans-serif;
  line-height: 1.8;
  font-size: 22px;
  margin-top: 20px;
  max-width: 460px;
}

.how__picture {
  width: 50%;
}

@-webkit-keyframes clouds-moving {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes clouds-moving {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

::-moz-selection {
  background: #ff7043;
  color: white;
}

::selection {
  background: #ff7043;
  color: white;
}
/*# sourceMappingURL=style.css.map */