.how
    position: relative
    +positioning(flex,column,center,center,no-wrap)
    background-color: $beige
    &__cloud-up
        width: 100%
    &__lower-cloud
        position: relative
        margin-top: 25px
        width: 100%
    &__cloud-down
        width: 100%
        animation: clouds-moving
        animation-iteration-count: infinite
        animation-timing-function: linear
        animation-duration: 30s
    &__cloud-down-absolute
        position: absolute
        width: 100%
        top: 0
        left: -100%
        animation: clouds-moving
        animation-iteration-count: infinite
        animation-timing-function: linear
        animation-duration: 30s
    &__hide-left
        position: absolute
        width: 60%
        height: 100%
        background: linear-gradient(90deg, rgba(255,254,249,1) 50%, rgba(255,254,249,0) 100%)
        top: 0
        left: 0
        z-index: 2
    &__hide-right
        position: absolute
        width: 10%
        height: 100%
        top: 0
        right: 0
        background: linear-gradient(90deg, rgba(255,254,249,0) 0%, rgba(255,254,249,1) 68%)
        z-index: 2
    &__inner
        +positioning(flex,row,space-between,center,no-wrap)
        width: 100%
        max-width: 1400px
    &__motto
        width: 40%
        align-self: flex-start
        & .title
            position: relative
            h1
                position: relative
                font: 500 21px/1.35 'Zilla Slab', serif
                z-index: 2
            .bcg
                position: absolute
                top: -5px
                left: 22%
                z-index: 1
                width: 220px
                height: 130%
                -webkit-transform: translateX(-50%)
                transform: translateX(-50%)
        h2
            font: 400 60px/1.22 'Zilla Slab', serif
            margin-top: 44px
            max-width: 340px
        p
            font-family: 'Inter', sans-serif
            line-height: 1.8
            font-size: 22px
            margin-top: 20px
            max-width: 460px
    &__picture
        width: 60%
    &__img-base
        position: relative
        width: 140%
        bottom: 330px
        left: -85px

@keyframes clouds-moving
    0%
        transform: translate(0%)
    100%
        transform: translate(100%)
